$main-font: 'Archivo';
$my-white: hsl(0, 0%, 80%);
$my-white-filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(157deg) brightness(109%) contrast(99%);
$my-white-two: hsl(0, 0%, 60%);
$my-white-three: hsl(0, 0%, 70%);
$my-bgcolor: #202124;
$my-bgcolor-two: hsl(225, 6%, 10%);
$my-filter: invert(51%) sepia(68%) saturate(5114%) hue-rotate(1deg) brightness(102%) contrast(103%);
$my-orange: #ff5f00;
$my-orange-two: hsl(22, 100%, 30%);
$my-orange-three: hsl(22, 100%, 40%);