@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Archivo";
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #202124;
}
body::-webkit-scrollbar {
  width: 0.4rem;
}
body::-webkit-scrollbar-track {
  background: #202124;
}
body::-webkit-scrollbar-track-piece {
  margin-bottom: 10px;
  margin-top: 10px;
}
body::-webkit-scrollbar-thumb {
  background: hsl(0deg, 0%, 60%);
  border-radius: 0.5rem;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.welcome-screen {
  font-size: 18vmin;
  color: hsl(0deg, 0%, 80%);
  display: flex;
}
.welcome-screen div {
  cursor: pointer;
}
.welcome-screen .title-card {
  margin: 20vh 0 0 15vw;
}
.welcome-screen .title-card .hello {
  animation: pop 0.6s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.welcome-screen .title-card .work {
  animation: pop 0.6s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.welcome-screen .title-card .contact {
  animation: pop 0.6s;
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.welcome-screen .title-card .title-text {
  transition: padding-left 0.3s ease-in-out;
}
.welcome-screen .title-card .title-text:hover {
  padding-left: 50px;
}
.welcome-screen .title-card .title-text .subtle {
  color: hsl(0deg, 0%, 80%);
}
.welcome-screen .title-card .emphasis {
  color: #ff5f00;
}
.welcome-screen .title-image .my-image {
  width: 500px;
  height: 500px;
  animation: pop 0.6s;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
  filter: brightness(80%);
  position: fixed;
  top: 50px;
  left: 50vw;
  z-index: -2;
  border-radius: 100%;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.about-screen {
  overflow-y: hidden;
}
.about-screen .about-title {
  color: hsl(0deg, 0%, 80%);
  font-size: 10vmin;
  padding: 7vh 0 0 10vw;
  animation: pop 0.6s;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.about-screen .about-body {
  color: hsl(0deg, 0%, 60%);
  font-size: 3vmin;
  margin: 5vh 0 0 11vw;
  width: 80vw;
  line-height: 25px;
}
.about-screen .about-body h3 {
  animation: pop 0.6s;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.about-screen .about-body div {
  margin: 3vh 0;
  animation: pop 0.6s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.about-screen .about-body li {
  margin: 1vh 3vw 1vh 0;
}
.about-screen .about-body li::before {
  content: "▹";
  left: 0;
  color: #ff5f00;
}
.about-screen .about-body a {
  text-decoration: none;
  color: #ff5f00;
}
.about-screen .about-body .about-list {
  display: flex;
}

.work-screen .work-title {
  color: hsl(0deg, 0%, 80%);
  font-size: 10vmin;
  padding: 7vh 0 0 10vw;
  animation: pop 0.6s;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.work-screen .work-body {
  color: hsl(0deg, 0%, 60%);
  font-size: 3vmin;
  margin: 5vh 0 0 11vw;
  width: 80vw;
  line-height: 25px;
}
.work-screen .work-body h3 {
  animation: pop 0.6s;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.contact-screen .contact-title {
  color: hsl(0deg, 0%, 80%);
  font-size: 10vmin;
  padding: 7vh 0 0 10vw;
}
.contact-screen .contact-body {
  color: hsl(0deg, 0%, 60%);
  font-size: 3vmin;
  margin: 5vh 0 0 11vw;
  width: 80vw;
  line-height: 25px;
}
.contact-screen .contact-body h3 {
  width: 70%;
}

.home-trigger {
  position: fixed;
  top: 5vmin;
  right: 7vmin;
}
.home-trigger .home-logo {
  width: 8vmin;
  height: 8vmin;
  cursor: pointer;
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(157deg) brightness(109%) contrast(99%);
}
.home-trigger .home-logo.emphasis {
  filter: invert(51%) sepia(68%) saturate(5114%) hue-rotate(1deg) brightness(102%) contrast(103%);
}
.home-trigger .home-title {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: -40px;
  color: hsl(0deg, 0%, 80%);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.home-trigger .home-title.show {
  visibility: visible;
  left: -60px;
}

.my-email {
  position: fixed;
  bottom: 100px;
  left: 50px;
  color: hsl(0deg, 0%, 80%);
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.my-email:hover {
  color: #ff5f00;
}
.my-email::after {
  position: absolute;
  top: 210px;
  left: 7px;
  content: "";
  width: 1px;
  height: 80px;
  background-color: hsl(0deg, 0%, 80%);
}

.project {
  animation: pop 0.6s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 5vh auto 0 auto;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.project-image {
  width: 100%;
  height: auto;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  filter: brightness(80%);
  transition: filter 0.2s ease-in-out;
}
.project-image:hover {
  filter: brightness(100%);
}
.project-infogroup {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vh 0;
}
.project-infogroup h4 {
  font-size: 5vmin;
  color: hsl(0deg, 0%, 80%);
  margin-bottom: 2vh;
  text-align: center;
}
.project-infogroup p {
  background-color: hsl(225deg, 6%, 10%);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 2.5vmin;
  margin-bottom: 2vh;
  text-align: center;
}
.project-infogroup span {
  font-size: 2.5vmin;
  text-align: center;
}
