@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Archivo";
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: #202124;
  overscroll-behavior: auto;
}

body {
  background-color: #202124;
  overscroll-behavior: auto;
}
body::-webkit-scrollbar {
  width: 0.4rem;
}
body::-webkit-scrollbar-track {
  background: #202124;
}
body::-webkit-scrollbar-thumb {
  background: hsl(0deg, 0%, 60%);
  border-radius: 0.5rem;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.welcome-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 18vmin;
  color: hsl(0deg, 0%, 80%);
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
}
.welcome-screen::after {
  animation: pip 0.6s;
  animation-delay: 1.4s;
  animation-fill-mode: backwards;
  content: "Interactive text";
  font-size: 14px;
  color: hsl(0deg, 0%, 90%);
  position: absolute;
  bottom: 2.5vmin;
}
@keyframes pip {
  0% {
    opacity: 0;
    transform: translateY(2.25vmin);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.welcome-screen div {
  cursor: pointer;
  margin: 5vmin 0;
}
.welcome-screen .title-card {
  -webkit-tap-highlight-color: transparent;
  width: 30vmax;
  z-index: 2;
}
.welcome-screen .title-card .hello {
  animation: pap 0.6s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
}
@keyframes pap {
  0% {
    opacity: 0;
    transform: translateX(-15vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.welcome-screen .title-card .work {
  animation: pap 0.6s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
@keyframes pap {
  0% {
    opacity: 0;
    transform: translateX(-15vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.welcome-screen .title-card .contact {
  animation: pap 0.6s;
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
}
@keyframes pap {
  0% {
    opacity: 0;
    transform: translateX(-15vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.welcome-screen .title-card .title-text {
  transition: padding-left 0.3s ease-in-out;
}
.welcome-screen .title-card .title-text:hover {
  padding-left: 20px;
}
.welcome-screen .title-card .title-text .subtle {
  color: hsl(0deg, 0%, 80%);
}
.welcome-screen .title-card .emphasis {
  color: #ff5f00;
}
.welcome-screen .title-image {
  pointer-events: none;
}
.welcome-screen .title-image .my-image {
  width: 500px;
  height: 500px;
  animation: pop 0.6s;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
  filter: brightness(60%);
  border-radius: 100%;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.about-screen {
  overflow-y: hidden;
}
.about-screen .about-title {
  color: hsl(0deg, 0%, 80%);
  font-size: 10vmin;
  padding: 7vh 0 0 10vw;
  animation: pop 0.6s;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.about-screen .about-body {
  color: hsl(0deg, 0%, 60%);
  font-size: 3vmin;
  margin: 5vh 0 0 11vw;
  width: 80vw;
  line-height: 25px;
}
.about-screen .about-body h3 {
  color: hsl(0deg, 0%, 70%);
  animation: pop 0.6s;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.about-screen .about-body div {
  margin: 3vh 0;
  animation: pop 0.6s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.about-screen .about-body li {
  margin: 1vh 3vw 1vh 0;
}
.about-screen .about-body li::before {
  content: "▹";
  left: 0;
  color: #ff5f00;
}
.about-screen .about-body a {
  text-decoration: none;
  color: #ff5f00;
}
.about-screen .about-body .about-list {
  display: flex;
}

.work-screen .work-title {
  color: hsl(0deg, 0%, 80%);
  font-size: 10vmin;
  padding: 7vh 0 0 10vw;
  animation: pop 0.6s;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.work-screen h3 {
  animation: pop 0.6s;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
  color: hsl(0deg, 0%, 60%);
  font-size: 3vmin;
  margin: 5vh 0 0 11vw;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.work-screen .work-projects, .work-screen .work-experiences {
  color: hsl(0deg, 0%, 60%);
  font-size: 3vmin;
  margin: 5vh 0 0 11vw;
  width: 80vw;
  line-height: 25px;
}
.work-screen .work-projects h3, .work-screen .work-experiences h3 {
  animation: pop 0.6s;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
  color: hsl(22deg, 100%, 40%);
  margin-bottom: 5vh;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.work-screen .resume {
  color: hsl(0deg, 0%, 80%);
  font-size: 2.5vmin;
  margin: 12vh 0 6vh 11vw;
}
.work-screen .resume a {
  text-decoration: none;
  color: #ff5f00;
}

.contact-screen {
  overflow-y: hidden;
}
.contact-screen .contact-title {
  color: hsl(0deg, 0%, 80%);
  font-size: 10vmin;
  padding: 7vh 0 0 10vw;
}
.contact-screen .contact-body {
  color: hsl(0deg, 0%, 60%);
  font-size: 3vmin;
  margin: 5vh 0 0 11vw;
  width: 80vw;
  line-height: 25px;
}
.contact-screen .contact-body a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
.contact-screen .contact-body .sent {
  margin-top: 2vh;
  color: hsl(0deg, 0%, 80%);
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0.7s ease-in;
}
.contact-screen .contact-body .sent.show {
  visibility: visible;
}
.contact-screen .contact-body h3 {
  animation: pop 0.6s;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
  width: 70%;
  color: hsl(0deg, 0%, 70%);
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.contact-screen .contact-body div {
  animation: pop 0.6s;
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
  margin: 7vmin auto 1.5vmin auto;
  font-size: 4vmin;
  color: hsl(0deg, 0%, 60%);
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.contact-screen .contact-body p {
  animation: pop 0.6s;
  animation-delay: 1.4s;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.contact-screen .contact-body .contact-body-info {
  animation: pop 0.6s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  color: #ff5f00;
  font-size: 4vmin;
  margin: 6vh auto;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.contact-screen .contact-body .send-message {
  width: 30vmin;
  height: 8vmin;
  animation: pop 0.6s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  cursor: pointer;
  margin: 0 1vmin;
  -webkit-tap-highlight-color: transparent;
  background-color: hsl(0deg, 0%, 60%);
  color: hsl(225deg, 6%, 10%);
  font-size: 3vmin;
  border: none;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.contact-screen .contact-body .send-message:hover {
  background-color: #ff5f00;
}
.contact-screen .contact-body .social-group {
  margin: 2vh auto;
}
.contact-screen .contact-body .social-group .socials {
  width: 20vmin;
  height: 8vmin;
  animation: pap 0.6s;
  animation-delay: 1.6s;
  animation-fill-mode: backwards;
  cursor: pointer;
  color: hsl(0deg, 0%, 80%);
  margin: 0 1vmin;
  -webkit-tap-highlight-color: transparent;
  font-size: 3vmin;
  border: none;
  border-radius: 10px;
}
@keyframes pap {
  0% {
    opacity: 0;
    transform: translateX(-15vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.contact-screen .contact-body .social-group .fb {
  background-color: #4868AD;
}
.contact-screen .contact-body .social-group .linked {
  background-color: #0077B5;
}
.contact-screen .contact-body .social-group .git {
  background-color: #4F4F4F;
}

.home-trigger {
  position: fixed;
  top: 5vmin;
  right: 7vmin;
}
.home-trigger .home-logo {
  width: 8vmin;
  height: 8vmin;
  cursor: pointer;
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(157deg) brightness(109%) contrast(99%);
}
.home-trigger .home-logo.emphasis {
  filter: invert(51%) sepia(68%) saturate(5114%) hue-rotate(1deg) brightness(102%) contrast(103%);
}
.home-trigger .home-title {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: -40px;
  color: hsl(0deg, 0%, 80%);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.home-trigger .home-title.show {
  visibility: visible;
  left: -60px;
}

.my-email {
  position: fixed;
  bottom: 100px;
  left: 50px;
  color: hsl(0deg, 0%, 80%);
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.my-email:hover {
  color: #ff5f00;
}
.my-email::after {
  position: absolute;
  top: 210px;
  left: 7px;
  content: "";
  width: 1px;
  height: 80px;
  background-color: hsl(0deg, 0%, 80%);
}

@media only screen and (max-width: 699px) {
  .my-email {
    display: none;
  }
}
.project {
  animation: pop 0.6s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 5vh auto 0 auto;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.project-image {
  width: 100%;
  height: auto;
  animation: pap 0.6s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  filter: brightness(80%);
  transition: filter 0.2s ease-in-out;
}
@keyframes pap {
  0% {
    opacity: 0;
    transform: translateX(-15vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.project-image:hover {
  filter: brightness(100%);
}
.project-infogroup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vh 0;
}
.project-infogroup h4 {
  font-size: 5vmin;
  color: hsl(0deg, 0%, 80%);
  margin-bottom: 2vh;
  text-align: center;
}
.project-infogroup p {
  background-color: hsl(225deg, 6%, 10%);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 2.5vmin;
  margin-bottom: 2vh;
  text-align: center;
}
.project-infogroup span {
  font-size: 2.5vmin;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .project-infogroup {
    line-height: 12px;
  }
}
.experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  line-height: normal;
  font-size: 2.5vmin;
}
.experience .left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 5vmin;
  text-align: right;
}
.experience .left::after {
  width: 5px;
  height: 100%;
  position: absolute;
  content: "";
  right: -2.5px;
  background-color: #ff5f00;
}
.experience .right {
  position: relative;
  padding-left: 5vmin;
}
.experience .right::before {
  width: 5px;
  height: 100%;
  position: absolute;
  content: "";
  left: -2.5px;
  background-color: #ff5f00;
}
.experience .exp-company {
  position: relative;
  color: hsl(0deg, 0%, 80%);
  font-size: 5vmin;
  margin-top: 5vh;
  margin-bottom: 15px;
}
.experience .exp-info {
  margin-bottom: 10px;
}
.experience .none {
  visibility: hidden;
  pointer-events: none;
}
