.contact-screen {
  .contact-title {
    @include page-title;
  }

  .contact-body {
    color: $my-white-two;
    font-size: 3vmin;
    margin: 5vh 0 0 11vw;
    width: 80vw;
    line-height: 25px;

    a {
      -webkit-tap-highlight-color: transparent;
      text-decoration: none;

      span {
        color: $my-white;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.7s ease-in;

        &.show {
          opacity: 1;
        }
      }
    }

    h3 {
      @include pop-up(0.6s);
      width: 70%;
      color: $my-white-three;
    }

    div {
      @include pop-up(1.2s);
      margin: 9vh auto 1.5vmin auto;
      font-size: 4vmin;
      color: $my-white-two;
    }

    p {
      @include pop-up(1.4s);
    }

    .contact-body-info {
      @include pop-up(0.8s);
      color: $my-orange;
      font-size: 4vmin;
      margin: 6vh auto;
    }

    .send-message {
      @include perimeter(30vmin, 8vmin);
      @include pop-up(1s);
      cursor: pointer;
      margin: 0 1vmin;
      -webkit-tap-highlight-color: transparent;
      background-color: $my-white-two;
      color: $my-bgcolor-two;
      font-size: 3vmin;
      border: none;
      border-radius: 10px;
      transition: all 0.4s ease-in-out;

      &:hover {
        background-color: $my-orange;
      }
    }

    .social-group {
      margin: 2vh auto;
      
      .socials {
        @include perimeter(20vmin, 8vmin);
        @include pop-side(1.6s);
        cursor: pointer;
        color: $my-white;
        margin: 0 1vmin;
        -webkit-tap-highlight-color: transparent;
        font-size: 3vmin;
        border: none;
        border-radius: 10px;
      }
  
      .fb {
        background-color: #4868AD;
      }
  
      .linked {
        background-color: #0077B5;
      }
  
      .git {
        background-color: #4F4F4F;
      }
    }
  }
}