body {
  background-color: $my-bgcolor;
  @include scrollbar;
}

.welcome-screen {
  @include perimeter(100vw, 100vh);
  overflow: hidden;
  font-size: 18vmin;
  color: $my-white;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;

  &::after {
    @include pop-in;
    content: 'Interactive text';
    font-size: 12px;
    color: hsl(0, 0%, 50%);
    position: absolute;
    bottom: 2.5vmin;
  }

  div {
    cursor: pointer;
    margin: 5vmin 0;
  }
  
  .title-card {
    -webkit-tap-highlight-color: transparent;
    // margin-left: 10vmin;
    width: 30vmax;

    .hello {
      @include pop-up(0.8s);
      -webkit-tap-highlight-color: transparent;
    }

    .work {
      @include pop-up(1s);
      -webkit-tap-highlight-color: transparent;
    }

    .contact {
      @include pop-up(1.2s);
      -webkit-tap-highlight-color: transparent;
    }

    .title-text {
      transition: padding-left 0.3s ease-in-out;

      &:hover {
        padding-left: 50px;
      }

      .subtle {
        color: $my-white;
      }
    }

    .emphasis {
      color: $my-orange;
    }
  }

  .title-image {
    pointer-events: none;
    // margin-right: 10vmin;
    z-index: -2;

    .my-image {
      @include perimeter(500px, 500px);
      @include pop-up(0.4s);
      filter: brightness(60%);
      border-radius: 100%;
    }
  }
  
}
